# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/
.env/

# Data files
data/raw/
data/processed/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Docker files
docker/*.log

# Environment variables
.env

# IDEs
.vscode/
.idea/
